body {
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    max-width: 95% !important;
}
.header-offset {
    position: relative;
    margin: 50px 0 0 20px;
    display: inline-block;
}
.header-offset::after {
    content: '';
    position: absolute;
    width: 111%;
    height: 98%;
    border: 5px solid black;
    left: -35px;
    top: -20px;
}
.inner-offset {
    position: relative;
    display: inline-block;
}
.inner-offset::after {
    content: '';
    position: absolute;
    width: 90%;
    height: 97%;
    border: 7px solid white;
    left: 23px;
    top: 8px;
}
.header-img {
    display: block;
    height: 620px !important;
}
.title {
    margin: 0 auto;
    margin-top: 120px;
    position: relative;
    display: inline-flex;
    z-index: 1;
}
.komal {
    font-size: 110px;
    font-weight: 900;
    color: #FCBD00;
    letter-spacing: 5px;
}
.waseem {
    padding-top: 3%;
    padding-left: 15px;
    font-size: 88px;
    font-weight: 600;
}
.sub-title {
    position: relative;
    z-index: 1;
}
.sub-title h3 {
    font-size: 22px;
    color: #7E7E7E;
    font-weight: 600;
    margin-bottom: 5px;
}

.buttons {
    margin-top: 25%;
    position: relative;
    display: inline-flex;
}
.buttons a {
    display: inline-block;
    width: 100%;
    text-align: center;
    background-color: #FF9595;
    padding: 10px;
    border-radius: 30px;
    color: white !important;
    font-size: 22px;
    font-weight: 600;
}
.end {
    margin-right: 0 !important;
}

.about-img {
    overflow: hidden;
    height: 400px;
    margin-top: 4%;
}
.about-img img {
    margin-top: -160px;
}
.me-offset {
    position: relative;
    margin: -270px 0 0 70px;
    display: inline-block;
}
.me-img {
    border: 9px solid white;
    display: block;
}
.me-offset::after {
    content: '';
    position: absolute;
    width: 102%;
    height: 102%;
    border: 9px solid #FCBD00;
    left: -42px;
    top: -35px;
}
.about-title {
    margin-bottom: 20%;
}
.about-title h2 {
    color: white;
    font-size: 45px;
    font-weight: 800;
}
.offset {
    margin-top: -150px;
}
.about-p {
    font-size: 15px;
    padding-left: 20px;
    padding-top: 18px;
}
#about {
    margin-bottom: 8%;
}
.project {
    background-color: #FCBD00;
    color: white;
    display: inline-block;
    width: 90%;
    height: 300px;
}
.project::after {
    content: '';
    position: absolute;
    width: 87%;
    height: 98%;
    border: 9px solid black;
    left: 36px;
    top: 25px;
}
.project a {
    display: block;
    margin-top: 20%;
    margin-left: 33%;
    font-size: 35px;
}
.project a span {
    font-size: 18px;
}
.contact-img {
    height: 650px;
    overflow: hidden;
    margin-top: 10%;
    margin-bottom: 4%;
    outline: 7px solid #FF9595;
    outline-offset: -40px;
}

.contact-info {
    position: absolute;
    color: white;
    text-align: center;
    width: 97%;
    margin-top: 30%;
}
.contact-title h2 {
    font-size: 45px;
    font-weight: 800;
}
.social a, .email a, .resume a {
    color: white !important;
}